<form class="form-inline" #monForm="ngForm">
  <div>
    <input type="text" name="matricule" #matricule="ngModel" [(ngModel)]="modelCollegue.matricule" required
      placeholder="Matricule">

    <input type="text" name="pseudo" #pseudo="ngModel" [(ngModel)]="modelCollegue.pseudo" required minlength="2"
      placeholder="Pseudo">

    <input type="text" name="photoUrl" [(ngModel)]="modelCollegue.photoUrl" placeholder="URL de l'image">
    <button (click)="valider()" [disabled]="monForm.invalid">Valider</button>
  </div>
</form>